
.page {
    max-width: 100%;
}

.header-title .tw-mr-1 img {
    transform: translateY(5px);
}
.header-title span.ti-cursor {
    transform: translateY(-2.5px);
}

body {
    &[theme=dark] {
        .invert {
            filter: invert(83.14%);
        }
    }
}

img {
    display: unset;
}