$global-font-color-dark: #dbd0d0 !important;
$global-background-color-dark: #2A2A2C !important;
$global-font-secondary-color-dark: #93939b !important;
$global-link-color-dark: #c1c1cf !important;
$single-link-color-dark: #C76C4A !important;
$single-link-hover-color-dark: #2d96bd !important;